[Unit]
Description=Radian Recorded Video API
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/radian-video-server /etc/radian-video-server/config.conf
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadOnlyPaths=/root/video_recorder/events/videos

[Install]
WantedBy=multi-user.target
